<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap v-if="validConnection">
      <v-flex md4 sm12>
        <v-card>
          <v-toolbar>
            <v-toolbar-title>Server</v-toolbar-title>
          </v-toolbar>
          <v-container>
            <server-status />
            <database-chart :data="dataSet" />
            <p>DATABASE SIZES</p>
          </v-container>
        </v-card>
      </v-flex>
      <v-flex md8 sm12>
        <database-list />
      </v-flex>
    </v-layout>
    <v-layout v-else>
      <v-flex text-xs-center fill-height>
        <v-icon x-large class="mb-2">settings</v-icon>
        <p>To start, add a connection.</p>
      </v-flex>
    </v-layout>
  </v-container>
</template> 

<script>
import DatabaseList from './LandingPage/DatabaseList';
import DatabaseChart from './LandingPage/DatabaseChart';
import ServerStatus from './LandingPage/ServerStatus';

export default {
  name: 'landing-page',
  components: { DatabaseList, DatabaseChart, ServerStatus },
  computed: {
    dataSet() {
      if (this.$store.state.dbs.success === false) {
        return {};
      }
      return ({
        labels: this.$store.state.dbs.dbs.map(db => db.name),
        datasets: [{
          backgroundColor: '#388e3c',
          data: this.$store.state.dbs.dbs.map(db => db.sizeOnDisk),
        }],
      });
    },
    validConnection() {
      return this.$store.state.settings.connection.test.success;
    },
  },
};
</script>

<style>
</style>
