<template>
  <v-layout row wrap>
    <profile-filters />
    <profile-results />
  </v-layout>
</template>

<script>
import ProfileFilters from './ProfilePage/ProfileFilters';
import ProfileResults from './ProfilePage/ProfileResults';

export default {
  name: 'profile-page',
  components: { ProfileResults, ProfileFilters },
};
</script>

<style>
  #profile-chart {
    width: 100%;
    overflow: hidden;
  }

</style>
