<template>
  <v-tooltip top v-if="message"> 
    <v-icon slot="activator" class="red--text">warning</v-icon>
    <span>{{ message }}</span>
  </v-tooltip>
</template>

<script>
export default {
  props: ['message'],
};
</script>

<style scoped>

</style>
