<template>
  <div class="py-3"> 
    <div class="value">{{ value }}</div>
    <div class="label">{{ label }}</div>
  </div>
</template>

<script>
export default {
  name: 'stat',
  props: ['label', 'value'],
};
</script>

<style scoped>
  .value {
    font-size: 250%;
    text-align: middle;
    font-weight: 300;
    line-height: 100%;
  }
  
  .label {
    font-size: 80%;
    text-align: middle;
    text-transform: uppercase;
  }
</style>
