@require '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: $green.darken-2
  accent: $green.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@require '../../node_modules/vuetify/src/stylus/main'