<template>
    <v-dialog v-model="show" width="50%" scrollable persistent>
      <v-card>
        <v-card-title>
          <span class="headline">Columns</span>
        </v-card-title>
        <v-card-text>
          <v-select
            label="Profile fields"
            chips
            tags
            autocomplete=""
            append-icon=""
            v-model="columns"
            v-bind:items="allColumns"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn raised @click.native="onClose">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import { fields } from '../../mongodb/profileOutput';
export default {
  name: 'column-select-dialog',
  props: ['show', 'onClose'],
  computed: {
    allColumns() {
      return Object.keys(fields);
    },
    columns: {
      get() {
        return this.$store.state.profile.columns;
      },
      set(value) {
        this.$store.dispatch('updateProfileColumns', value);
      },
    },
  },
};
</script>

<style scoped>
  code {
    width: 100%;
  }
</style>
