<template>
<v-card id="profile-filters" class="mb-3">
  <v-toolbar>
    <v-toolbar-title>Filters</v-toolbar-title>
  </v-toolbar>
  <v-progress-linear v-show="loading" indeterminate height="5" ></v-progress-linear>
  <v-container grid-list-md>
    <v-layout wrap>
      <v-flex md4>
        <v-select
          v-bind:items="collections"
          v-model="collectionFilter"
          item-text="name"
          item-value="val"
          label="Collection"
        />
      </v-flex>
      <v-flex md4>
        <v-select
          v-bind:items="ops"
          v-model="opFilter"
          item-text="name"
          item-value="val"
          label="Op"
        />
      </v-flex>
      <v-flex md4>
        <v-text-field
          label="Client"
          v-model="clientFilter"
          :hint="resolvedClientFilter"
          persistent-hint
        />
      </v-flex>
      <v-flex md4>
        <v-text-field
          label="Millis (gte)"
          v-model="msFilter"
        />
      </v-flex>
      <v-flex md4>
        <v-select
          v-bind:items="sortStageOptions"
          v-model="sortStageFilter"
          item-text="name"
          item-value="val"
          label="Has Sort Stage"
        />
      </v-flex>
    </v-layout>
  </v-container>
</v-card>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  computed: {
    db() {
      return this.$route.params.dbname;
    },
    collections() {
      return [
        { name: '[all except profile collection]', val: null },
        ...this.$store.state.profile.filters.collections.map(col => ({
          name: col.name,
          val: col.name,
        })),
      ];
    },
    ops() {
      return [
        { name: '[all]', val: null },
        { name: 'command', val: 'command' },
        { name: 'count', val: 'count' },
        { name: 'distinct', val: 'distinct' },
        { name: 'geoNear', val: 'geoNear' },
        { name: 'getMore', val: 'getMore' },
        { name: 'group', val: 'group' },
        { name: 'insert', val: 'insert' },
        { name: 'mapReduce', val: 'mapReduce' },
        { name: 'query', val: 'query' },
        { name: 'remove', val: 'remove' },
        { name: 'update', val: 'update' },
      ];
    },
    sortStageOptions() {
      return [
        { name: '[either]', val: null },
        { name: 'yes', val: true },
        { name: 'no', val: false },
      ];
    },
    loading() {
      return this.$store.state.profile.filters.loading;
    },
    error() {
      return this.$store.state.profile.filters.error;
    },
    collectionFilter: {
      get() {
        return this.$store.state.profile.filters.selected.col;
      },
      set(value) {
        this.$store.dispatch('updateCollectionFilter', value);
      },
    },
    opFilter: {
      get() {
        return this.$store.state.profile.filters.selected.op;
      },
      set(value) {
        this.$store.dispatch('updateOpFilter', value);
      },
    },
    clientFilter: {
      get() {
        return this.$store.state.profile.filters.selected.client;
      },
      set(value) {
        this.$store.dispatch('updateClientFilter', value);
      },
    },
    msFilter: {
      get() {
        return this.$store.state.profile.filters.selected.ms;
      },
      set(value) {
        this.$store.dispatch('updateMsFilter', value);
      },
    },
    sortStageFilter: {
      get() {
        return this.$store.state.profile.filters.selected.hasSortStage;
      },
      set(value) {
        this.$store.dispatch('updateHasSortStageFilter', value);
      },
    },
    resolvedClientFilter() {
      return this.$store.state.profile.filters.selected.resolvedClient;
    },
  },
  mounted() {
    this.listCollections(this.db);
  },
  methods: {
    ...mapActions({
      listCollections: 'listCollections',
    }),
  },
};
</script>

<style scoped>
  #profile-filters {
    width: 100%;
  }

  .progress-linear{
    margin: 0;
  }
</style>
