<template>
<v-card id="profile-results">
  <v-toolbar>
    <v-toolbar-title>Profile Data</v-toolbar-title>
    <v-spacer />
    <error-notification :message="error" />
    <v-btn icon right @click.native="showColumnSelect">
      <v-icon>view_column</v-icon>
    </v-btn>
    <v-btn icon right @click.native="getProfileData({db, filter})">
      <v-icon>refresh</v-icon>
    </v-btn>
  </v-toolbar>
  <column-select-dialog :show="columnSelect" :onClose="onColumnSelectClose" />
  <raw-data-dialog :data="selected.computed.raw" :show="rawData" :onClose="onRawDataClose" />
  <v-progress-linear v-show="loading" indeterminate height="5" ></v-progress-linear>
  <profile-chart id="profile-chart" />
  <v-data-table
    v-bind:headers="headers"
    v-bind:pagination.sync="pagination"
    :items="data"
    :rows-per-page-items="[5, 15, 25, 50, 100, 200]"
  >
    <template slot="items" scope="props">
      <tr @click.stop="selectItem(props.item)"> 
        <td 
          v-bind:key="column" 
          v-for="column in columns" 
          class="text-xs-left" 
          :class="isPropertyWarning(props.item,column) === true ? 'warn' : ''"
        >
          {{ getFormattedProperty(props.item, column) }}
        </td>
      </tr>
    </template>
  </v-data-table>
</v-card>
</template>

<script>
import { mapActions } from 'vuex';
import RawDataDialog from './RawDataDialog';
import ColumnSelectDialog from './ColumnSelectDialog';
import ErrorNotification from '../Shared/Error';
import ProfileChart from './ProfileChart';
import { formatProperty, getPropertyWarning } from '../../mongodb/profileOutput';

export default {
  components: {
    'raw-data-dialog': RawDataDialog,
    'column-select-dialog': ColumnSelectDialog,
    'error-notification': ErrorNotification,
    'profile-chart': ProfileChart,
  },
  data() {
    return {
      rawData: false,
      columnSelect: false,
      selected: {
        computed: {},
      },
      pagination: {
        sortBy: 'ts',
        descending: true,
        rowsPerPage: 25,
      },
    };
  },
  computed: {
    db() {
      return this.$route.params.dbname;
    },
    data() {
      return this.$store.state.profile.data;
    },
    loading() {
      return this.$store.state.profile.loading;
    },
    error() {
      return this.$store.state.profile.error;
    },
    filter() {
      return this.$store.state.profile.filters.selected;
    },
    columns() {
      return this.$store.state.profile.columns;
    },
    headers() {
      return this.$store.state.profile.columns.map(col => ({
        text: col,
        value: col,
        align: 'left',
      }));
    },
  },
  watch: {
    filter: {
      handler(newFilter) {
        this.getProfileData({ db: this.db, filter: newFilter });
      },
      deep: true,
    },
  },
  mounted() {
    this.getProfileData({ db: this.db, filter: this.filter });
  },
  methods: {
    ...mapActions({
      getProfileData: 'getProfileData',
    }),
    selectItem(item) {
      this.selected = item;
      this.rawData = true;
    },
    showColumnSelect() {
      this.columnSelect = true;
    },
    onRawDataClose() {
      this.selected = {
        computed: {},
      };
      this.rawData = false;
    },
    onColumnSelectClose() {
      this.columnSelect = false;
    },
    getFormattedProperty(obj, key) {
      return formatProperty(obj, key);
    },
    isPropertyWarning(obj, key) {
      return getPropertyWarning(obj, key) === 1;
    },
  },
};
</script>

<style>
  #profile-results {
    width: 100%;
  }

  .progress-linear{
    margin: 0;
  }

  td, th {
    padding: 0 12px !important;
  }

  tr {
    cursor: pointer;
  }

  #profile-chart {
    position: relative;
    padding-top: 1em;
    height: 200px;
  }

  .warn {
    background-color: rgba(238, 118,0, 0.9);
  }
</style>
