<template>
    <v-dialog v-model="show" width="75%" scrollable persistent>
      <v-card>
        <v-card-title>
          <span class="headline">Profile Output</span>
        </v-card-title>
        <v-card-text id="raw-content">
          <pre v-highlightjs="data"><code class="json"></code></pre>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn raised @click.native="onClose">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
  name: 'raw-data-dialog',
  props: ['data', 'show', 'onClose'],
};
</script>

<style scoped>
  code {
    width: 100%;
  }
</style>
