<template>
  <v-card>
    <v-toolbar>
      <v-toolbar-title>Databases</v-toolbar-title>
      <v-spacer></v-spacer>
      <error-notification :message="error" />
      <v-btn icon right @click.native="listDatabases">
        <v-icon>refresh</v-icon>
      </v-btn>
    </v-toolbar>
    <v-progress-linear v-show="loading" indeterminate height="5"></v-progress-linear>
    <template v-for="db in databases">
      <v-card v-bind:key="db.name">
        <v-container fluid grid-list-md class="pl-3 pr-3">
          <v-layout row>
            <v-flex xs7 class="text-xs-left">
              <div class="db-info">
                <div class="db-name">{{ db.name }}</div>
                <span>Size On Disk: {{ db.formattedSize }}</span>
                <span v-if="db.profilingSlowMs">Slow: {{ db.profilingSlowMs }}ms</span>
              </div>
            </v-flex>
            <v-flex xs5 class="text-xs-right">
              <v-btn-toggle :inputValue="db.profilingLevel" @change="selectProfilingLevel(db, $event)">
                <v-btn flat value="0">
                  Off
                </v-btn>
                <v-btn flat value="1">
                  Slow
                </v-btn>
                <v-btn flat value="2">
                  All
                </v-btn>
              </v-btn-toggle>
              <v-btn class="profile-link" :to="`profile/${db.name}`">
                Profile
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </template>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex';
import ErrorNotification from '../Shared/Error';
import { formatBytes } from '../../helpers/format';

export default {
  components: {
    'error-notification': ErrorNotification,
  },
  mounted() {
    if (this.validConnection) {
      this.listDatabases();
    }
  },
  computed: {
    databases() {
      return this.$store.state.dbs.dbs.slice(0, 25).map(db => ({
        ...db,
        formattedSize: formatBytes(db.sizeOnDisk),
      }));
    },
    loading() {
      return this.$store.state.dbs.loading;
    },
    error() {
      return this.$store.state.dbs.error;
    },
    validConnection() {
      return this.$store.state.settings.connection.test.success;
    },
  },
  watch: {
    validConnection(newVal, oldVal) {
      if (!oldVal && newVal) {
        this.listDatabases();
      }
    },
  },
  methods: {
    ...mapActions({
      listDatabases: 'listDatabases',
    }),
    selectProfilingLevel(db, level) {
      if (level !== null) {
        this.$store.dispatch('setProfilingLevel', { db, level });
      }
    },
  },
};
</script>

<style scoped>
.toolbar {
  z-index: 1;
}

.progress-linear {
  margin: 0;
}

.db-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.db-info span {
  font-size: 90%;
  margin-right: 15px;
}

.db-name {
  font-size: 150%;
}

.profile-link {
  margin-right: 0;
}
</style>
