<template>
  <v-layout row v-if="status">
    <v-flex xs6>
      <stat label="Version" :value="status.version" />
      <stat label="Uptime" :value="status.uptime" />
    </v-flex>
    <v-flex xs6>
      <stat label="Engine" :value="status.storageEngine.name" />
      <stat label="Databases" :value="databaseCount" />
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex';
import Stat from '../Shared/Stat';

export default {
  name: 'server-status',
  components: { Stat },
  mounted() {
    if (this.validConnection) {
      this.getStatus();
    }
  },
  computed: {
    status() {
      return this.$store.state.server.status;
    },
    databaseCount() {
      return this.$store.state.dbs.dbs.length;
    },
    validConnection() {
      return this.$store.state.settings.connection.test.success;
    },
  },
  watch: {
    validConnection(newVal, oldVal) {
      if (!oldVal && newVal) {
        this.getStatus();
      }
    },
  },
  methods: {
    ...mapActions({
      getStatus: 'getStatus',
    }),
  },
};
</script>

<style scoped>

</style>
