
<template>
  <v-app id="app" :dark="darkTheme">
    <v-toolbar id="nav" dense class="green darken-4">
      <v-btn v-if="canGoBack()" icon @click="goBack">
        <v-icon >arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        Indexpert
        <span v-if="host"> / {{ host }}</span>
        <span v-if="canGoBack()"> / {{ dbName() }}</span>
      </v-toolbar-title>
      <v-spacer />
      <settings />
      <v-menu>
        <v-btn icon slot="activator" dark>
          <v-icon>palette</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="updateDarkTheme(true)">
            <v-list-tile-title>Dark Theme</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="updateDarkTheme(false)">
            <v-list-tile-title>Light Theme</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <main id="main-content">
      <v-container fluid fill-height>
        <router-view></router-view>
      </v-container>
    </main>
  </v-app>
</template>

<script>
  import { mapActions } from 'vuex';
  import Router from './router';
  import Settings from './components/Connection/Settings';

  export default {
    components: { Settings },
    name: 'indexpert',
    computed: {
      host() {
        return this.$store.state.settings.connection.current.host;
      },
      darkTheme() {
        return this.$store.state.settings.darkTheme;
      },
    },
    methods: {
      goBack() {
        Router.push('/');
      },
      canGoBack() { return Router.currentRoute.path !== '/'; },
      dbName() { return Router.currentRoute.params.dbname; },
      ...mapActions({
        updateDarkTheme: 'updateDarkTheme',
      }),
    },
    mounted() {
      Router.push('/');
    },
  };
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai.min.css');

  html, #app {
    overflow: hidden !important;
    height: 100%;
  }

  #main-content {
    height: calc(100% - 48px);
    overflow: auto;
    position: absolute;
    top: 48px;
    width: 100%;
  }

  #main-content > .container {
    min-height: auto;
    margin-top: 0;
  }

  #nav {
    z-index: 10;
    color: white !important;
  }
  
  #nav .icon {
    color: white !important;
  }

::-webkit-scrollbar {
  width: 8px;
  background: #424242; 
}

::-webkit-scrollbar-thumb {
  background: #388e3c; 
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background: #1b5e20; 
}
</style>
