<template>
  <v-list>
    <v-list-tile @click="selectRecentConnection('')" ripple>
      <v-list-tile-content>
        <v-list-tile-title>+ New Connection</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
    <template v-for="(conn, index) in connections">
      <v-divider v-bind:key="index" />
      <v-list-tile v-bind:key="index" @click="selectRecentConnection(conn)" ripple>
        <v-list-tile-content>
          <v-list-tile-title v-if="conn.connectionString">{{conn.connectionString}}</v-list-tile-title>
          <v-list-tile-title v-else>{{conn.host}} {{conn.port}}</v-list-tile-title>
          <v-list-tile-sub-title>
            {{conn.username}}
            <span v-if="conn.database && conn.username">@</span>
            {{conn.database}}
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  computed: {
    connections() {
      return this.$store.state.settings.connection.recent;
    },
  },
  methods: {
    ...mapActions({
      selectRecentConnection: 'selectRecentConnection',
    }),
  },
};
</script>
