<template>
  <v-dialog v-model="dialog" width="750px" crollable>
    <v-btn icon slot="activator">
      <v-icon>settings</v-icon>
    </v-btn>
    <v-card id="settings" >
      <v-card-title>
        <span class="headline">Connection</span>
      </v-card-title>
      <v-layout>
        <v-flex xs4 sm4 md4 id="connection-list">
          <connection-list />
        </v-flex>
        <v-flex xs8 sm8 md8>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="connectionString" label="ConnectionString" />
                </v-flex>
                <v-flex xs12 sm12 md12>
                  or
                </v-flex>

                <v-flex xs12 sm12 md6>
                  <v-text-field v-model="host" label="Host" />
                </v-flex>
                <v-flex xs12 sm12 md6>
                  <v-text-field v-model="port" label="Port" hint="Default port is 27017" />
                </v-flex>
                <v-flex xs12 sm12 md6>
                  <v-text-field v-model="database" label="Database" />
                </v-flex>
                <v-flex xs12 sm12 md6>
                  <v-text-field v-model="username" label="User Name" />
                </v-flex>
                <v-flex xs12 sm12 md6>
                  <v-text-field v-model="password" label="Password" type="password" />
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-flex>
      </v-layout>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-progress-circular v-if="test.loading" indeterminate class="primary--text"></v-progress-circular>
        <v-icon class="green--text" v-if="test.success">check</v-icon>
        <error-notification :message="test.error" />
        <v-btn flat @click.native="dialog = false">Close</v-btn>
        <v-btn @click.native="saveConnection">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import ConnectionList from './ConnectionList';
import ErrorNotification from '../Shared/Error';

export default {
  components: {
    'connection-list': ConnectionList,
    'error-notification': ErrorNotification,
  },
  computed: {
    dialog: {
      get() {
        return this.$store.state.settings.showDialog;
      },
      set(value) {
        if (value === true) {
          this.$store.dispatch('showDialog');
        } else {
          this.$store.dispatch('hideDialog');
        }
      },
    },
    host: {
      get() {
        return this.$store.state.settings.connection.form.host;
      },
      set(value) {
        this.$store.dispatch('updateFormHost', value);
      },
    },
    port: {
      get() {
        return this.$store.state.settings.connection.form.port;
      },
      set(value) {
        this.$store.dispatch('updateFormPort', value);
      },
    },
    database: {
      get() {
        return this.$store.state.settings.connection.form.database;
      },
      set(value) {
        this.$store.dispatch('updateFormDatabase', value);
      },
    },
    username: {
      get() {
        return this.$store.state.settings.connection.form.username;
      },
      set(value) {
        this.$store.dispatch('updateFormUserName', value);
      },
    },
    password: {
      get() {
        return this.$store.state.settings.connection.form.password;
      },
      set(value) {
        this.$store.dispatch('updateFormPassword', value);
      },
    },
    connectionString: {
      get() {
        return this.$store.state.settings.connection.form.connectionString;
      },
      set(value) {
        this.$store.dispatch('updateFormConnectionString', value);
      },
    },
    test() {
      return this.$store.state.settings.connection.test;
    },
  },
  methods: {
    ...mapActions({
      saveConnection: 'saveConnection',
    }),
  },
};
</script>

<style scoped>
  #connection-list {
    overflow: auto;
  } 

  #settings-dialog {
    width: 75%;
    max-width: 750px;
  }
</style>
